:root {
  --font-color: #445876;
  --header-back: #31343d;
  --header-font: #92cccd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.article-title {
  flex: 0 1;
  justify-content: flex-start;
  color: var(--font-color);
}

.work-images img {
  border: 5px solid var(--header-font);
  filter: sepia(100%) hue-rotate(-20deg) brightness(90%);
}

.work-images img:hover {
  filter: none;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
  color: var(--font-color);
}

article p {
  flex: 0 1;
  align-self: flex-end;
}

body {
  background-color: #ededf6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-back);
  color: var(--header-font);
}

header h1 {
  margin: 1%;
  background-color: var(--header-font);
  color: var(--header-back);
}

nav ul, footer ul {
  display: flex;
  align-content: flex-end;
  margin-right: 20px;
}

nav ul li, footer ul li {
  display: inline-block;
  flex-direction: row;
  padding: 10px;
  font-size: 16pt;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

nav ul li a {
  color: var(--header-font);
}

footer ul li a {
  color: var(--font-color);
}

.header-container img {
  max-height: 200px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#img-subtitle {
  position: absolute;
  top: 185px;
  right: 50px;
  background-color: var(--header-font);
  color: var(--header-back);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  article p {
    align-self: flex-start;
    width: 100%;
  }

  nav ul li, footer ul li {
    flex-wrap: wrap;
  }
  
  header {
    flex-wrap: wrap;
  }

  .work-images {
    flex-direction: row;
    max-width: 50%;
    max-width: 50%;
  }
}
